<% content_for :title, "Editing biblioteca" %>

<h1>Editing biblioteca</h1>

<%= render "form", biblioteca: @biblioteca %>

<br>

<div>
  <%= link_to "Show this biblioteca", @biblioteca %> |
  <%= link_to "Back to bibliotecas", bibliotecas_path %>
</div>
